.radioContainer {
  display: flex;
  flex-direction: column;
}

.radioContainer .label {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1.4em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.radioContainer .label:hover,
.radioContainer .input:active + label {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.radioContainer .input {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.radioContainer .input:active + label {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.radioContainer .input:checked + label {
  transition: 0.25s linear;
  border: 1px solid var(--marine-blue);
  background-color: var(--primary);
  color: var(--very-dark-cyan);
}
