.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--desktop);
  margin: 9.55rem auto 0;
  padding: 1rem;
}

.formContainer {
  margin-top: 5rem;
  padding: 2rem;
  background-color: var(--white);
  width: 100%;
  min-height: 420px;
  max-width: 850px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (width <= 768px) {
  .formContainer {
    grid-template-columns: 1fr;
  }
}
