.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 2rem;
  border-radius: 10px;
}

.resultContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.resultContent:first-child {
  margin-bottom: 2rem;
}

.resultContent .title {
  font-style: normal;
}

.resultContent .description {
  font-size: 0.85rem;
  color: var(--grayish-cyan);
}

.resultContent .result {
  font-size: 2.5rem;
  color: var(--primary);
}

.resultContainer .btn {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.16em;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.resultContainer .btn:hover {
  background-color: var(--light-grayish-cyan);
}

.resultContainer .btn:disabled {
  cursor: not-allowed;
  opacity: 15%;
}
.resultContainer .btn:disabled:hover {
  background-color: var(--primary);
}

@media (width <= 768px) {
  .resultContent:nth-child(2) {
    margin-bottom: 2rem;
  }
}
