.form {
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}

.label {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.inputContainer input {
  text-align: right;
  padding: 0.3rem 0.8rem;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  transition: 0.2s ease-in-out;
  width: 100%;
}

.inputContainer input:focus {
  border-color: var(--primary);
}

@media (width <= 768px) {
  .inputContainer input {
    font-size: 1rem;
  }
}
