.formFields {
  display: flex;
  flex-direction: column;
}

.formFields .labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formFields .inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.formFields .labelContainer .label,
.formFields .labelContainer .error {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.formFields .labelContainer .error {
  color: var(--error);
}

.formFields input {
  text-align: right;
  padding: 0.3rem 0.8rem;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  transition: 0.2s ease-in-out;
  width: 100%;
}

.formFields input:focus {
  border-color: var(--primary);
}
.formFields input::placeholder {
  color: var(--grayish-cyan);
}

.formFields .icon {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: text;
}
.formFields .icon::moz-selection {
  -moz-user-select: none;
  user-select: none;
}
