.logo {
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(61, 102, 102);
  line-height: 1.5;
  inline-size: 100px;
  overflow-wrap: break-word;
}
